body {
	background-color: white;
	margin: 0;
	padding: 0;
}

#banner {
	width: 100%;
	float: clear;
	background-color: lightgrey;
	padding: 40px 15px;
}

#pets_image{
			display: block;
	        margin-left: auto;
            margin-right: auto;
		   }

#navbar {
	background-color: #00A2E8;
	float: clear;
	overflow: hidden;
	width: 100%;
	margin: 0 0 2em 0;
	padding: 0;
}

#navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#navbar li {
	float: left;
}

#navbar li a {
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: white;
}

#navbar a:hover {
	background-color: #3C46C8;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
}

@media screen and (max-width: 480px) {
	.wrapper {
		width: 95%;
		margin: 0 auto;
	}
}

.box1 {
	float: left;
	text-align: center;
	padding: 15px;
	width: 300px;
	height: 250px;
}

.content h1, h2, h3, h4, h5, h6 {
	color: grey;
}

.content p {
	color: #C3C3C3;
}

.title {
	font-weight: bold;
}

input[type="submit"] {
	background-color: #00A2E8;
	color: white;
	padding: 0.5em
}

.button {
	background-color: #00A2E8;
	color: white;
	padding: 0.5em
}

.button:hover {
	background-color: #3C46C8;
}
#footer {
	background-color: grey;
	color: white;
	width: 100%;
	float: left;
	text-align: center;
	display:inline-block;
	font-weight: bold;
}
