body {
	background-color: white;
	font-family: Helvetica, sans-serif;
	/*font-color: #5A5A5A*/
	margin: 0;
	padding: 0;
}

/* Banner, navbar, and footer */
#banner {
	width: 100%;
}

#social_media {
	float: right;
	padding: 15px;
}

#logo {
	float: left;
	padding: 0px;
}

#navbarTop {
	width: 30%;
	margin-top: 10px;
	margin: 0px auto;
}

#slideImg1 {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#navbar {
	background-color: #00A2E8;
	float: clear;
	overflow: hidden;
	width: 100%;
	margin: 0 0 2em 0;
	padding: 0;
}

#navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#navbar li {
	float: left;
}

#navbar li a {
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: white;
}

#navbar a:hover {
	background-color: #2980b9;
}

.account {
	background-color: #0071A2;
}

.account a:hover {
	background-color: #1D2262 !important;
}

#footer {
	background-color: lightgrey;
	color: white;
	width: 100%;
	text-align: center;
	display:inline-block;
	font-weight: bold;
	height: 100px;
	line-height: 70px;
	vertical-align: middle;
	margin-top: 1em;
}

/* Class selectors */
.wrapper {
	width: 80%;
	margin: 0 auto;
}

.post-container {
	width: 100%;
	float: left;
}

.post {
	margin: 0.5em 1em;
	float: left;
}

.title {
	font-weight: bold;
}

.warning {
	color: red;
}

/* Element selectors */
a:hover {
	color: #30EFEF;
}

/* Form selectors and custom buttons */
.button, input[type="submit"] {
	background-color: #00A2E8;
	color: white;
	text-decoration: none;
	padding: 0.5em 1em;
	border: 0;
	border-radius: 3px;
}

.button:hover, input[type="submit"]:hover {
	background-color: #2980b9;
	color: white;
}

input[type="reset"] {
	background-color: lightgrey;
	color: white;
	text-decoration: none;
	padding: 0.5em 1em;
	border: 0;
	border-radius: 3px;
}

input[type="reset"]:hover {
	background-color: grey;
	color: white;
}

.button-warning {
	background-color: #e74c3c;
	color: white;
	text-decoration: none;
	padding: 0.5em 1em;
	border: 0;
	border-radius: 3px;
}

.button-warning:hover {
	background-color: #c0392b;
	color: white;
}

/* Mobile devices */
@media screen and (max-width: 640px), (max-device-width: 640px)  {
	#banner {
		width: 0px;
	}
	
	#navbar li {
		float: none;
	}
	
	.wrapper {
		width: 95%;
		margin: 0 auto;
	}
}
