body {
	background-color: white;
	font-family: Helvetica, sans-serif;
	/*font-color: #5A5A5A*/
	margin: 0;
	padding: 0;
}

/* Banner, navbar, and footer */
#banner {width: 100%;
}

/*#pets_image {
	display: block;
	margin-left: auto;
	margin-right: auto;
}*/

#slideImg1{
			display: block;
	        margin-left: auto;
            margin-right: auto;
		   }

#navbar {
	background-color: #00A2E8;
	float: clear;
	overflow: hidden;
	width: 100%;
	margin: 0 0 2em 0;
	padding: 0;
}

#navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#navbar li {
	float: left;
}

#navbar li a {
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: white;
}

#navbar a:hover {
	background-color: #3C46C8;
}

.account {
	background-color: #0071A2;
}

.account a:hover {
	background-color: #1D2262 !important;
}

#footer {
	background-color: lightgrey;
	color: white;
	width: 100%;
	text-align: center;
	display:inline-block;
	font-weight: bold;
	height: 100px;
}

/* Class selectors */
.wrapper {
	width: 90%;
	margin: 0 auto;
}

@media screen and (max-width: 480px) {
	.wrapper {
		width: 95%;
		margin: 0 auto;
	}
}

.post-container {
	width: 100%;
	float: left;
}

.post {
	margin: 0.5em 1em;
	float: left;
}


.title {
	font-weight: bold;
}

/* Element selectors */
a:hover {
	color: #30EFEF;
}

a {
	color: #10D1D1;
}


/* Form selectors and custom buttons */
input[type="submit"] {
	background-color: #00A2E8;
	color: white;
	padding: 0.5em 1em;
	border: 1px solid darkblue;
}

input[type="submit"]:hover {
	background-color: #3C46C8;
}

input[type="reset"] {
	background-color: lightgrey;
	color: white;
	padding: 0.5em 1em;
	border: 1px solid black;
}

input[type="reset"]:hover {
	background-color: grey;
}

.button {
	background-color: #00A2E8;
	color: white;
	padding: 0.5em 1em;
	border: 1px solid darkblue;
}

.button:hover {
	background-color: #3C46C8;
}	
#social_media{ float: right;
			 padding: 0px;
			 }
